html,body{height: 100%;background-color: #3c4c5f;}
.header{position: absolute;top: 70px;left: 60px;color: #fff;}
.header img,.header .title{float: left;}
.header .title{padding-left: 10px; text-align: right;}
.header h3{font-size: 32px;letter-spacing: 5px;}
.header h4{font-size: 16px;letter-spacing: 5px;}
.footer{position: absolute;bottom: 0;padding: 20px 0 65px 0;  width: 100%;text-align: center;}
.footer p{font-size: 12px;}
.box-main{position: relative;top: 50%;margin-top: -170px;width:100%; }
.box-main .box-login{margin: auto; width: 295px;}
.icon{display: inline-block; width: 32px;height: 32px; background-image: url(../../images/admin/login.png);background-repeat: no-repeat;background-position: -6px -6px;}
.text-box .icon{float: left;}
.text-box{margin-bottom: 24px;height: 45px;}
.text-box input{border:none;padding: 0;margin: 0;width: 250px;font-size: 14px;color: #fff; height: 25px;outline:none;background: rgba(0, 0, 0,0);}
.text-box input:-webkit-autofill { box-shadow: 0 0 0 1000px #3c4c5f inset;}
.text-box input{margin: 9px 0 0 13px;}
.text-box input::-webkit-input-placeholder{color:#5e83ac !important;}
.text-box input:-moz-placeholder{color:#5e83ac !important;}
.text-box input:-ms-input-placeholder{{color:#5e83ac !important;}}
.text-box.password .icon{background-position: -38px -6px;}
.text-box.remember-me .icon{background-position: -70px -6px;}
.remember-me .icon.checked{background-position: -102px -6px;}
.text-box .underline{margin-top: 5px;border-bottom: 1px solid #4c6483;box-shadow: 1px 1px 2px #2e3c4c;}