* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background: #f2f2f2;
    overflow-y: hidden;
    margin: 0;
}

.title {
    height: 20px;
    font-family: "Microsoft YaHei UI";
    font-weight: bold;
    color: #808080;
    font-size: 18px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.title2 {
    height: auto;
    font-family: "Microsoft YaHei UI";
    font-weight: bold;
    color: #808080;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.baseInfo {
    background: #ffffff;
    width: 25%;
    height: 100%;
    border-right: 5px #e5e5e5 solid;
    float: left;
}

.fontStyle1 {
    font-family: "Microsoft YaHei UI";
    font-size: 13px;
    color: #808080;
    width: 30%;
    white-space: nowrap;
}

.fontStyle2 {
    font-family: "Microsoft YaHei UI";
    font-weight: bold;
    font-size: 13px;
    color: #4d4d4d;
}

.fontStyle3 {
    font-family: "Microsoft YaHei UI";
    font-size: 12px;
    color: #ffffff;
}



.myStyleButton1 {
    height: 30px;
    background: #99b8ff;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    float: left;
    margin: 0 20px 0 0px;
    padding: 0 10px 0 10px;
    border: 1px solid #99b8ff;
}

.myStyleButton2 {
    height: 30px;
    background: #ffffff;
    text-align: center;
    line-height: 30px;
    float: left;
    margin: 0 20px 0 0px;
    padding: 0 10px 0 10px;
    border: 1px solid #99b8ff;
}

.myStyleButton3 {
    color: #4d4d4d;
    font-family: "Microsoft YaHei UI";
    font-size: 12px;
    height: 30px;
    background: #ffffff;
    text-align: center;
    line-height: 30px;
    float: right;
    margin: 0 20px 0 0px;
    padding: 0 10px 0 10px;
    border: 1px solid #99b8ff;
    cursor:pointer;
}

.right {
    overflow-y: auto;
    width: 74%;
    float: right;
    height: 100%;
}

.serviceScore {
    width: 100%;
    height: 300px;
    background: #ffffff;
    border-bottom: 5px #e5e5e5 solid;
}

.serviceScore .commentButton {
    position: relative;
    float: right;
}

.serviceScore table, .serviceScore table tr th, .serviceScore table tr td {
    /*border-top:1px solid #f2f2f2;*/
    /*border-bottom:1px solid #f2f2f2;*/
}

.scoreTable {
    margin: 0 auto;
    text-align: center;
    width: 95%;
    height: 225px;
    border: 1px solid #edf3ff;
    margin-bottom: 10px;
}

.serviceScore table tr th {
    background: #edf3ff;
    color: #4d4d4d;
    font-family: "Microsoft YaHei UI";
    font-weight: bold;
    font-size: 14px;
}

.serviceScore table tr td {
    background: #ffffff;
    color: #4d4d4d;
    /* font-family: "Microsoft JhengHei Light"; */
    font-family:"\5B8B\4F53";/* ו */
    font-size: 14px;
    border-top: 1px solid #f2f2f2;
    /*border-bottom:1px solid #f2f2f2;*/
    border-right: 1px solid #f2f2f2;
}

/*.serviceScore table { width: 200px; min-height: 25px; line-height: 25px; text-align: center; border-collapse: collapse; padding:2px;}*/

.serviceScore table {

}

.sessionDetail {
    width: 100%;
    background: #ffffff;
}

.sessionDetail_title {
    display: none;
    margin: 10px 0 0 0;
}

.sessionDetail_title table {
    margin: 0 auto;
    text-align: center;
    width: 95%;
    border: 1px solid #edf3ff;
}

.sessionDetail_title tr th {
    background: #edf3ff;
    color: #4d4d4d;
    font-family: "Microsoft YaHei UI";
    font-weight: bold;
    font-size: 14px;
    padding: 6px;
}

.sessionDetail_title table tr td {
    background: #ffffff;
    color: #ff4c4c;
    font-family: "Microsoft JhengHei Light";
    font-size: 14px;
    padding: 6px;
    /*border-bottom:1px solid #f2f2f2;*/
}

.sessionDetail_title1 {
    display: none;
    margin: 10px 0 0 0;
}

.sessionDetail_title1 table {
    margin: 0 auto;
    text-align: left;
    width: 95%;
    border: 1px solid #edf3ff;
    border-collapse: collapse;
}
.sessionDetail_title1 table tr:nth-child(3){
	border-top:solid 1px #edf3ff;
}
.sessionDetail_title1 tr th {
	text-align: center;
    background: #edf3ff;
    color: #4d4d4d;
    font-family: "Microsoft YaHei UI";
    font-weight: bold;
    font-size: 14px;
    padding: 6px;
}

.sessionDetail_title1 table tr td {
    background: #ffffff;
    color: #ff4c4c;
    font-family: "Microsoft JhengHei Light";
    font-size: 14px;
    padding: 6px;
    /*border-bottom:1px solid #f2f2f2;*/
}

.sessionDetail_content {
    /*display: none;*/
    /*border: 1px solid #edf3ff;*/
    margin: 10px 0 0 0;
    height: 50%;
}

.sessionDetail_content table {
    text-align: center;
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid #edf3ff;
    /*border: 1px solid #edf3ff;*/
}

.sessionDetail_content tr th {
    background: #edf3ff;
    color: #4d4d4d;
    font-family: "Microsoft YaHei UI";
    font-weight: bold;
    font-size: 14px;
    padding: 6px;
}

.sessionDetail_content table tr td {
    /*background: #ffffff;*/
    color: #4d4d4d;
    /* font-family: "Microsoft JhengHei Light"; */
    font-family:"\5B8B\4F53";/* ו */
    font-size: 14px;
    padding: 6px;
    /*border-bottom:1px solid #f2f2f2;*/
}

#commentBox {
    height: 120px;
    width: 100%;
}

.my_normal_btn {
    color: #4d4d4d;
    font-family: "Microsoft YaHei UI";
    font-size: 12px;
    color: #4d4d4d;
    height: 30px;
    background: #ffffff;
    text-align: center;
    line-height: 30px;
    float: left;
    margin: 0 20px 0 0px;
    padding: 0 10px 0 10px;
    border: 1px solid #99b8ff;
    cursor:pointer;
}

.my_normal_btn_1 {
    color: #4d4d4d;
    font-family: "Microsoft YaHei UI";
    font-size: 12px;
    height: 30px;
    background: #ffffff;
    text-align: center;
    line-height: 30px;
    float: left;
    margin: 0 0px 10px 0px;
    padding: 0 10px 0 10px;
    border: 1px solid #99b8ff;
    cursor:pointer;
}

.my_primary_btn {
    background-color: #99b8ff;
    color: #ffffff;
}

.btn_hover:hover{
	background-color: #99b8ff;
    color: #ffffff;
}


.player_bar {
    flex: 0 0 auto;
    width: 95%;
    margin: 0 auto;
}

.audioplayer-volume-adjust{
    display: none;
}

.sesesionIdBtn{
   background: #ff9999;
   float: left;
   border-radius:5px;
   margin: 2px;
   color: white;
   padding: 2px;
}
.sesesionIdBtn:hover{
   background: #99b8ff;
   cursor:pointer;
}