<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bda.bdaqm.mission.mapper.MissionMapper">
    <select id="getListMission" resultType="com.bda.bdaqm.mission.model.InspectionMission">
        select * from inspection_mission
        where mission_createrid in
        <foreach collection="allUserIds" item="userId" index="index"
				 open="(" close=")" separator=",">
        		#{userId}
		</foreach>
		<if test="companyName != null and companyName!= ''">
			and mission_creater_role=#{companyName}
		</if>
		<if test="planName != null and planName != ''">
			and mission_name=#{planName}
		</if>
		<if test="recordStartDate != null and recordStartDate != ''">
			and mission_begintime <![CDATA[>=]]> #{recordStartDate}
		</if>
		<if test="recordEndDate != null and recordEndDate != ''">
			and mission_begintime <![CDATA[<=]]> #{recordEndDate}
		</if>
    </select>

	<select id="getListMissionByStatus" resultType="com.bda.bdaqm.mission.model.InspectionMission">
        select * from inspection_mission  t
        where mission_status = #{missionStatus}
    </select>

    <insert id="createMission" useGeneratedKeys="true" keyProperty="missionId" parameterType="com.bda.bdaqm.mission.model.InspectionMission">
		insert into inspection_mission(mission_name,mission_describe,mission_type,
		                                mission_status,mission_begintime,mission_istaboo,
		                                mission_isrisk,mission_isnodubious,mission_upload_status,
		                                mission_transfer_status,mission_inspection_status,
		                                mission_level,mission_istransfer,mission_isinspection,
		                                mission_filepath,mission_createrid,mission_totalnum,
		                                mission_ftp,mission_cycle,mission_creater_role)
		values(#{missionName},#{missionDescribe},#{missionType},#{missionStatus},
				#{missionBegintime},#{missionIstaboo},#{missionIsrisk},#{missionIsnodubious},
				#{missionUploadStatus},#{missionTransferStatus},#{missionInspectionStatus},
				#{missionLevel},#{missionIstransfer},#{missionIsinspection},#{missionFilepath},
				#{missionCreaterid},#{missionTotalNum},#{missionFtp},#{missionCycle},#{missionCreaterRole})
	</insert>

	<update id="updateMissionStatus">
		update inspection_mission set mission_status=#{missionStatus}
		where mission_id=#{missionId}
	</update>
	<update id="updateMissionUploadStatus">
		update inspection_mission set mission_upload_status=#{missionStatus}
				where mission_id=#{missionId}
	</update>
	<update id="updateMissionTransferStatus">
		update inspection_mission set mission_transfer_status=#{missionStatus}
				where mission_id=#{missionId}
	</update>
	<update id="updateMissionInspectionStatus">
		update inspection_mission set mission_inspection_status=#{missionStatus}
				where mission_id=#{missionId}
	</update>

	<select id="getMissionByMissionId" resultType="com.bda.bdaqm.mission.model.InspectionMission">
		select * from inspection_mission
		where
		mission_id=#{missionId}
	</select>

	<update id="updateSingleMission" parameterType="com.bda.bdaqm.mission.model.InspectionMission">
		update inspection_mission set mission_name=#{missionName},
		mission_describe=#{missionDescribe},mission_begintime=#{missionBegintime},
		mission_istaboo=#{missionIstaboo},mission_isrisk=#{missionIsrisk},
		mission_isnodubious=#{missionIsnodubious},mission_level=#{missionLevel},
		mission_istransfer=#{missionIstransfer},mission_isinspection=#{missionIsinspection},
		mission_filepath=#{missionFilepath},mission_totalnum=#{missionTotalNum}
		where mission_id=#{missionId}
	</update>

	<select id="isCreateCommonMission" resultType="com.bda.bdaqm.mission.model.InspectionMission">
		select * from inspection_mission
		where mission_createrid=#{userId} and mission_type=#{missionType}
	</select>

	<update id="updateCommonMission" parameterType="com.bda.bdaqm.mission.model.InspectionMission">
		update inspection_mission set mission_name=#{missionName},
		mission_describe=#{missionDescribe},mission_begintime=#{missionBegintime},
		mission_istaboo=#{missionIstaboo},mission_isrisk=#{missionIsrisk},
		mission_isnodubious=#{missionIsnodubious},
		mission_istransfer=#{missionIstransfer},mission_isinspection=#{missionIsinspection},
		mission_ftp=#{missionFtp},mission_cycle=#{missionCycle}
		where mission_id=#{missionId}
	</update>

	<update id="updateCount" parameterType="com.bda.bdaqm.mission.model.InspectionMission">
		update inspection_mission set mission_risk=#{missionRisk},
		mission_taboo=#{missionTaboo},mission_nodubious=#{missionNodubious}
		where mission_id=#{missionId}
	</update>
	
	<delete id="deleteMissionById">
		delete from inspection_mission where mission_id=#{missionId}
	</delete>

	<update id="updateRemainById">
		update inspection_mission set mission_remaining=#{time} where mission_id=#{id}
	</update>

	<update id="updateCompleteTime">
		update inspection_mission set mission_completetime=#{time} where mission_id=#{missionId}
	</update>

	<select id="getMissionByCreaterId" resultType="com.bda.bdaqm.mission.model.InspectionMission">
		 select * from inspection_mission
        	where mission_createrid=#{createrId}
	</select>
</mapper>