<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bda.bdaqm.electric.mapper.TicketCheckMapper">
	
	<select id="getTicketsData" parameterType="com.bda.bdaqm.electric.model.TicketCheck" resultType="com.bda.bdaqm.electric.model.TicketCheck">
	    SELECT T.* FROM SP_PD_HOME_PAGE T
	    <where>
	        1=1
	        <if test="ticket.ticketId != null and ticket.ticketId != ''">
	            AND T.TICKET_ID LIKE concat('%',#{ticket.ticketId},'%')
	        </if>
	        <if test="ticket.ticketType != null and ticket.ticketType != ''">
	            AND T.TICKET_TYPE LIKE concat('%',#{ticket.ticketType},'%')
	        </if>
	        <if test="ticket.stationLineName != null and ticket.stationLineName != ''">
	            AND T.STATION_LINE_NAME LIKE concat('%',#{ticket.stationLineName},'%')
	        </if>
	        <if test="ticket.workPrincipal != null and ticket.workPrincipal != ''">
	            AND T.WORK_PRINCIPAL LIKE concat('%',#{ticket.workPrincipal},'%')
	        </if>
	        <if test="ticket.ticketSigner != null and ticket.ticketSigner != ''">
	            AND T.TICKET_SIGNER LIKE concat('%',#{ticket.ticketSigner},'%')
	        </if>
	        <if test="ticket.workLicensor != null and ticket.workLicensor != ''">
	            AND T.WORK_LICENSOR LIKE concat('%',#{ticket.workLicensor},'%')
	        </if>
	        <if test="ticket.ticketEndLicensor != null and ticket.ticketEndLicensor != ''">
	            AND T.WORK_END_LICENSOR LIKE concat('%',#{ticket.ticketEndLicensor},'%')
	        </if>
	        <if test="ticket.department != null and ticket.department != ''">
	            AND T.DEPARTMENT LIKE concat('%',#{ticket.department},'%')
	        </if>
	        <if test="ticket.planStartTime != null and ticket.planStartTime != ''">
	            AND T.PLAN_START_TIME &gt;= #{ticket.planStartTime}
	        </if>
	        <if test="ticket.planEndTime != null and ticket.planEndTime != ''">
	            AND T.PLAN_END_TIME &lt; #{ticket.planEndTime}
	        </if>
	        <if test="ticket.isOuterDept != null and ticket.isOuterDept != ''">
	            AND T.IS_OUTER_DEPT = #{ticket.isOuterDept}
	        </if>
	        <if test="ticket.ticketCounterSigner != null and ticket.ticketCounterSigner != ''">
	            AND T.TICKET_COUNTER_SIGNER LIKE concat('%',#{ticket.ticketCounterSigner},'%')
	        </if>
	    </where>
	</select>
	
		<select id="getTicketsData01" parameterType="com.bda.bdaqm.electric.model.TicketCheck" resultType="map">
	    SELECT
			  	base.function_location_name,
			 	base.work_task,
			 	base.work_place,
				base.function_location_name,
				base.permission_time,
				base.work_end_time,
				safty.pull_breaker,
				safty.dcpower_lowp_circle,
				safty.switch_earthwire_insulation,
				safty.billboard,
				safty.other_care,
				exe.work_end_principal_uid,
				base.plan_end_time,
				exe.delay_time,
				exe.delay_fill_time,
				workinggap.gap_time,
				exe.dispatch_switch_code,
				exe.dispatch_earthwire_code,
				base.work_member_count,
				base.secondbill_count,
				exe.dispatch_earthwire_count,
				base.ticket_type,
				base.whether_outer_dept,
				base.ticket_counter_sign_uid,
				base.ticket_sign_uid,
				base.ticket_sign_time,
				base.ticket_counter_sign_time,
				workinggap.gap_time,
				exe.measure_end_per_uid,
				exe.measure_end_fill_time,
				exe.dispatch_fill_time,
				exe.dispatch_earthwire_count,
				exe.dispatch_earthwire_code,
				base.id,
				base.ticket_end_time 
		FROM
			o_gea_lcam_sc_sp_pd_wticket_base base 
	 		LEFT JOIN o_gea_lcam_sc_sp_pd_wticket_permission per ON base.id = per.wticket_id
	 		LEFT JOIN o_gea_lcam_sc_sp_pd_wticket_saftymeasures safty ON base.id = safty.wticket_id
			LEFT JOIN o_gea_lcam_sc_sp_pd_wticket_execute exe ON (base.id = exe.wticket_id)
	 		LEFT JOIN o_gea_lcam_sc_sp_pd_wticket_workinggap workinggap ON workinggap.wticket_id = base.id 
	    <where>
	        1=1
	        <if test="ticket.ticketId != null and ticket.ticketId != ''">
	            AND base.id LIKE concat('%',#{ticket.ticketId},'%')
	        </if>
	        <if test="ticket.ticketType != null and ticket.ticketType != ''">
	            AND base.ticket_type LIKE concat('%',#{ticket.ticketType},'%')
	        </if>
	        <if test="ticket.stationLineName != null and ticket.stationLineName != ''">
	            AND base.function_location_name LIKE concat('%',#{ticket.stationLineName},'%')
	        </if>
	        <if test="ticket.workPrincipal != null and ticket.workPrincipal != ''">
	            AND base.work_principal_uid LIKE concat('%',#{ticket.workPrincipal},'%')
	        </if>
	        <if test="ticket.ticketSigner != null and ticket.ticketSigner != ''">
	            AND base.ticket_sign_uid LIKE concat('%',#{ticket.ticketSigner},'%')
	        </if>
	        <if test="ticket.workLicensor != null and ticket.workLicensor != ''">
	            AND base.work_permission_uid LIKE concat('%',#{ticket.workLicensor},'%')
	        </if>
	        <if test="ticket.ticketEndLicensor != null and ticket.ticketEndLicensor != ''">
	            AND base.work_end_permission_uid LIKE concat('%',#{ticket.ticketEndLicensor},'%')
	        </if>
	        <if test="ticket.department != null and ticket.department != ''">
	            AND base.department_oname LIKE concat('%',#{ticket.department},'%')
	        </if>
	        <if test="ticket.planStartTime != null and ticket.planStartTime != ''">
	            AND base.plan_start_time &gt;= #{ticket.planStartTime}
	        </if>
	        <if test="ticket.planEndTime != null and ticket.planEndTime != ''">
	            AND base.plan_end_time &lt; #{ticket.planEndTime}
	        </if>
	        <if test="ticket.isOuterDept != null and ticket.isOuterDept != ''">
	            AND base.whether_outer_dept = #{ticket.isOuterDept}
	        </if>
	        <if test="ticket.ticketCounterSigner != null and ticket.ticketCounterSigner != ''">
	            AND base.ticket_counter_sign_uid LIKE concat('%',#{ticket.ticketCounterSigner},'%')
	        </if>
	    </where>
	</select>
	 
	<select id="getTicketInfo" resultType="com.bda.bdaqm.electric.model.TicketCheck">
		select * from sp_pd_home_page 
		<where>
			ticket_id in <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">#{item}</foreach>
		</where>
		
	</select>
	 
	 
	<select id="getTicketInfo01" resultType="map">
		SELECT
			  	base.function_location_name,
			 	base.work_task,
			 	base.work_place,
				base.function_location_name,
				base.permission_time,
				base.work_end_time,
				safty.pull_breaker,
				safty.dcpower_lowp_circle,
				safty.switch_earthwire_insulation,
				safty.billboard,
				safty.other_care,
				exe.work_end_principal_uid,
				base.plan_end_time,
				exe.delay_time,
				exe.delay_fill_time,
				workinggap.gap_time,
				exe.dispatch_switch_code,
				exe.dispatch_earthwire_code,
				base.work_member_count,
				base.secondbill_count,
				exe.dispatch_earthwire_count,
				base.ticket_type,
				base.whether_outer_dept,
				base.ticket_counter_sign_uid,
				base.ticket_sign_uid,
				base.ticket_sign_time,
				base.ticket_counter_sign_time,
				workinggap.gap_time,
				exe.measure_end_per_uid,
				exe.measure_end_fill_time,
				exe.dispatch_fill_time,
				exe.dispatch_earthwire_count,
				exe.dispatch_earthwire_code,
				base.id,
				base.ticket_end_time 
		FROM
			o_gea_lcam_sc_sp_pd_wticket_base base 
	 		LEFT JOIN o_gea_lcam_sc_sp_pd_wticket_permission per ON base.id = per.wticket_id
	 		LEFT JOIN o_gea_lcam_sc_sp_pd_wticket_saftymeasures safty ON base.id = safty.wticket_id
			LEFT JOIN o_gea_lcam_sc_sp_pd_wticket_execute exe ON (base.id = exe.wticket_id)
	 		LEFT JOIN o_gea_lcam_sc_sp_pd_wticket_workinggap workinggap ON workinggap.wticket_id = base.id 
		WHERE
			base.id IN <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">#{item}</foreach>
	</select>
	
	

	<select id = "getUser" resultType = "String">
		select user_name from sp_pd_wticket_user
	</select>

	
	<select id = "getUserType" resultType = "map">
		select PERSON_NAME,THREE_TYPE from bda_three_person 
	</select>
	
	<delete id = "deleteResult" >
		delete from bda_ticket_check_result 
		<where>
			ticket_id in <foreach collection="resultList" item="item" index="index" open="(" separator="," close=")">#{item.ticketId}</foreach>
		</where>
	</delete>
	
	
	<insert id = "insertResult">
		insert into bda_ticket_check_result (ticket_id,ticket_type,classes,ticket_final_time,work_principal,ticket_signer,
		licensor,check_result,misuse_ticket,beyond_plan,keyword_error,work_member_count,fillin_task_error,fillin_safe_error,
		double_issue_error,empty_permiss_time,handle_change,handle_delay,final_content_error,licensor_no_sign,keep_multiple,sign_error,standard_result,no_save,nonstandard_word)
		values
		<foreach collection="resultList" item="item" index="index"  separator=",">
		(#{item.ticketId},#{item.ticketType},#{item.classes},#{item.ticketFinalTime},#{item.workPrincipal},#{item.ticketSigner},#{item.licensor},#{item.checkResult},#{item.misuseTicket},#{item.beyondPlan},#{item.keywordError},#{item.workMemberCount},#{item.fillinTaskError},
		#{item.fillinSafeError},#{item.doubleIssueError},#{item.emptyPermissTime},#{item.handleChange},#{item.handleDelay},#{item.finalContentError},#{item.licensorNoSign},#{item.keepMultiple},#{item.signError},#{item.standardResult},#{item.noSave},
		#{item.nonstandardWord})
		
		</foreach>
	</insert>

	
	
</mapper>