<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bda.bdaqm.electric.mapper.WorkTicketMapper">
	
	<select id="getTitles" resultType="com.bda.bdaqm.util.ComboBoxItem">
	    SELECT DISTINCT T.TITLE AS TEXT,
		       T.TITLE AS VALUE
	      FROM BDA_WORK_TASK T 
		<!-- SELECT T.TITLE AS TEXT,
		       T.TITLE AS VALUE
		 FROM CIM_SUBSTATION T
		 WHERE T.TITLE IS NOT NULL -->
	</select>
	
	<select id="getTaskByTitle" resultType="com.bda.bdaqm.util.ComboBoxItem">
	    SELECT CASE WHEN T.description = '500kV增穗乙线' OR T.description = '110kV元港乙线'
	                THEN CONCAT(T.description,'CT检修')
	                ELSE CONCAT(T.description,'检修')
	              END AS TEXT,
	           CASE WHEN T.description = '500kV增穗乙线' OR T.description = '110kV元港乙线'
	                THEN CONCAT(T.description,'CT检修')
	                ELSE CONCAT(T.description,'检修')
	              END AS VALUE
	      FROM BDA_WORK_TASK T
	     WHERE T.TITLE = #{title} 
	    <!-- SELECT T.description||'检修' AS TEXT,
			   T.description||'检修' AS VALUE
          FROM CIM_COMPENSATOR T
         WHERE t.description not in (
                   select c.description from CIM_COMPENSATOR c
                   where c.description like '%电抗器%'
               ) 
           AND t.id like (
                   (select t.name||'%'  from CIM_SUBSTATION t where t.title = #{title})
               ) -->
	</select>
	
	<select id="getTaskStrByTitle" resultType="String">
		SELECT CASE WHEN replace(t.description,' ','') = '500kV增穗乙线' OR replace(t.description,' ','') = '110kV元港乙线'
	                THEN CONCAT(replace(t.description,' ',''),'CT检修')
	                ELSE CONCAT(replace(t.description,' ',''),'检修')
	              END AS TASK
	      FROM BDA_WORK_TASK T
	     WHERE T.TITLE = #{title} 
	</select>
	
	<select id="getEquipNumber" resultType="String">
	    SELECT MEMBEROF_EQUIPMENTCONTAINER FROM CIM_BREAKER T
	     WHERE t.ALIASNAME LIKE (select CONCAT(t.name,'%')  from CIM_SUBSTATION t where t.ALIASNAME like CONCAT('%',#{title},'%') limit 1)
		   AND t.description LIKE #{task}
	</select>
	
	<select id="getBreaker" resultType="String">
		SELECT substr(t.ALIASNAME,instr(t.ALIASNAME,'.')+1) FROM CIM_BREAKER t 
		 WHERE t.ALIASNAME LIKE (select CONCAT(t.name,'%')  from CIM_SUBSTATION t where t.ALIASNAME like CONCAT('%',#{title},'%') limit 1)
		   AND t.description LIKE #{task}
		   <if test="null != listBreaker and '' != listBreaker">
		       AND t.description not REGEXP #{listBreaker}
		   </if>
	</select>
	
	<select id="getDisconnector" resultType="String">
		SELECT substr(t.ALIASNAME,instr(t.ALIASNAME,'.')+1) FROM CIM_DISCONNECTOR t 
		 WHERE t.ALIASNAME LIKE (select CONCAT(t.name,'%')  from CIM_SUBSTATION t where t.ALIASNAME like CONCAT('%',#{title},'%') limit 1)
		   AND t.description LIKE #{task}
		   <if test="null != equipNum and equipNum.size &gt; 0">
		   AND t.MEMBEROF_EQUIPMENTCONTAINER IN
		       <foreach collection="equipNum" index="index" 
		                item="eNum" open="(" close=")" separator="," >
		           #{eNum}     
		       </foreach>
		   </if>
		   <if test="null != listDisconnector and '' != listDisconnector">
		       AND t.description not REGEXP #{listDisconnector}
		   </if>
	</select>
	
	<select id="getIsLanding" resultType="String">
		SELECT substr(t.ALIASNAME,instr(t.ALIASNAME,'.')+1) FROM CIM_GROUNDDISCONNECTOR t 
		 WHERE t.ALIASNAME LIKE (select CONCAT(t.name,'%')  from CIM_SUBSTATION t where t.ALIASNAME like CONCAT('%',#{title},'%') limit 1)
		   AND t.description LIKE #{task}
		   <if test="null != equipNum and equipNum.size &gt; 0">
		   AND t.MEMBEROF_EQUIPMENTCONTAINER IN
		       <foreach collection="equipNum" index="index" 
		                item="eNum" open="(" close=")" separator="," >
		           #{eNum}     
		       </foreach>
		   </if>
		   <if test="null != listGdisconnector and '' != listGdisconnector">
		       AND t.description not REGEXP #{listGdisconnector}
		   </if>
	</select>
	
	<select id="getContent" resultType="java.util.Map">
		select * from BDA_CONFIGURATION t 
		where T.TYPE = #{type}
	</select>
	
	<select id="getTicket" resultType="com.bda.bdaqm.electric.model.WorkTicket">
		select * from BDA_WORK_TICKET t where ticket_type = #{ticketType} and TITLE =#{station} and TASK = #{workTask}
	</select>
	<!-- 获取作业类型 -->
	<select id="getWorkType" resultType="String">
	    SELECT T.WORK_TYPE FROM BDA_TICKET_WORK_TYPE T
	    WHERE T.TICKET_TYPE = #{ticketType}
	</select>
	
	
	<select id="getAllTitle" resultType="String">
	    <!--SELECT DISTINCT T.TITLE 
	      FROM BDA_WORK_TASK T -->
	      select ALIASNAME from cim_substation
	</select>
	
	<!-- 以下三个sql独立为开关服务 -->
	<select id="getBreakerOpen" resultType="String">
		SELECT substr(t.ALIASNAME,instr(t.ALIASNAME,'.')+1) FROM CIM_BREAKER t 
		 WHERE t.ALIASNAME LIKE (select CONCAT(t.name,'.',#{task})  from CIM_SUBSTATION t where t.ALIASNAME like CONCAT('%',#{title},'%') limit 1)
	</select>
	
	<select id="getDisconnectorOpen" resultType="String">
		SELECT substr(t.ALIASNAME,instr(t.ALIASNAME,'.')+1) FROM CIM_DISCONNECTOR t 
		 WHERE t.ALIASNAME LIKE (select CONCAT(t.name,'.',#{task},'%')  from CIM_SUBSTATION t where t.ALIASNAME like CONCAT('%',#{title},'%') limit 1)
	</select>
	
	<select id="getIsLandingOpen" resultType="String">
		SELECT substr(t.ALIASNAME,instr(t.ALIASNAME,'.')+1) FROM CIM_GROUNDDISCONNECTOR t 
		 WHERE t.ALIASNAME LIKE (select CONCAT(t.name,'.',#{task},'%')  from CIM_SUBSTATION t where t.ALIASNAME like CONCAT('%',#{title},'%') limit 1)
	</select>
	
	<insert id = "saveInfo">
		insert into bda_webservice (ticket_id,ticket_type,work_task,station,pull_breaker,pull_switch,dcpower_lowp_circle,switch_earthwire_insulation,billboard,safeother_care,highp_device_state,power_circle_state,required_safty,pull_breaker_switch,close_switch_earthwire,safty_and_care,running_safty,repare_safty,creat_time)
		values(#{ticket.ticketId},#{ticket.ticketType},#{ticket.workTask},#{ticket.station},#{ticket.pullBreaker},#{ticket.pullSwitch},#{ticket.dcpowerLowpCircle},#{ticket.switchEarthwireInsulation},#{ticket.billboard},#{ticket.safeotherCare},#{ticket.highpDeviceState},#{ticket.powerCircleState},#{ticket.requiredSafty},#{ticket.pullBreakerSwitch},#{ticket.closeSwitchEarthwire},#{ticket.saftyAndCare},#{ticket.runningSafty},#{ticket.repareSafty},#{ticket.creatTime})
	</insert>
	
	<select id = "selectInfoById" resultType="com.bda.bdaqm.electric.model.WebServiceVo">
		select * from bda_webservice where ticket_id = #{id} and ticket_type=#{ticketType} and work_task = #{workTask} and station=#{station}
	
	</select>
	
</mapper>